<br />&nbsp;&nbsp;&nbsp;
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#AddGroup"
  (click)="getMajor()"
>

เพิ่มกลุ่มเรียน
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="AddGroup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มกลุ่มเรียน</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field *ngIf="datamajor" style="width: 100%;">
          <mat-label>{{ "โปรดเลือกสาขาวิชา*" }}</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let i of datamajor; let x = index"
              [value]="i.name"
              (click)="namegroupch(i.acronym, i.code, i.name_th)"
            >
              {{ i["name"] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="this.namegroup!=null">
          <span> {{ namegroup }}</span>
          &nbsp;&nbsp;.&nbsp;&nbsp;
          <mat-form-field>
            <input matInput placeholder="โปรดระบุกลุ่มเรียน*" #addGroup maxlength="5" />
          </mat-form-field>
          {{ namegroup }}.{{addGroup.value}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


